@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('/fonts/montserrat/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Medium.ttf') format('truetype'),
    url('/fonts/montserrat/Montserrat-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Bold.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
    url('/fonts/montserrat/Montserrat-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

:root {
    --device-height: 100vh;
    --device-height: 100dvh;
    --nav-height: 69px;
}

@media (min-width: 768px) {
    :root {
        --nav-height: 93px;
    }
}

body {
    @apply font-sans antialiased;
    @apply selection:bg-teal-400 selection:text-white;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}