@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-serif: "Gloock", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --color-transparent: transparent;
    --color-current: currentColor;
    --color-white: #fff;
    --color-black: #101010;
    --color-error: #DD4A49;

    --color-blue-400: #67A1B3;
    --color-blue-600: #114B62;

    --text-0: 0;
    --text-0--line-height: 0;

    --text-h0: 72px;
    --text-h0--line-height: 1.2;
    --text-h0--letter-spacing: 0.03em;

    --text-h1: 52px;
    --text-h1--line-height: 1.2;
    --text-h1--letter-spacing: 0.03em;

    --text-h2: 36px;
    --text-h2--line-height: 1.2;
    --text-h2--letter-spacing: 0.03em;

    --text-h3: 28px;
    --text-h3--line-height: 1.2;
    --text-h3--letter-spacing: 0.03em;

    --text-h4: 14px;
    --text-h4--line-height: 1.2;

    --text-b1: 18px;
    --text-b1--line-height: 1.2;

    --text-b2: 16px;
    --text-b2--line-height: 1.2;

    --text-b3: 10px;
    --text-b3--line-height: 1.2;

    --text-o1: 12px;
    --text-o1--line-height: 1.2;
    --text-o1--letter-spacing: 0.3em;

    --text-t1: 12px;
    --text-t1--line-height: 1.2;
    --text-t1--letter-spacing: 0.3em;

    --text-button: 16px;
    --text-button--line-height: 1.2;
    --text-button--letter-spacing: 0.02em;
}

@theme inline {
    --spacing-nav: var(--nav-height);
    --spacing-nav-extra: calc(var(--nav-height) + 2rem);
    --spacing-device: var(--device-height);
}

@layer base {
    @font-face {
        font-family: 'Inter';
        src: url('/fonts/inter/Inter_18pt-Regular.woff2') format('woff2'),
            url('/fonts/inter/Inter_18pt-Regular.woff') format('woff'),
            url('/fonts/inter/Inter_18pt-Regular.ttf') format('truetype'),
            url('/fonts/inter/Inter_18pt-Regular.otf') format('opentype');
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: 'Gloock';
        src: url('/fonts/gloock/Gloock-Regular.woff2') format('woff2'),
            url('/fonts/gloock/Gloock-Regular.woff') format('woff'),
            url('/fonts/gloock/Gloock-Regular.ttf') format('truetype'),
            url('/fonts/gloock/Gloock-Regular.otf') format('opentype');
        font-weight: 400;
        font-display: swap;
    }

    :root {
        --device-height: 100vh;
        --device-height: 100svh;
        --nav-height: 120px;
    }

    @media (min-width: 1024px) {
        :root {
            --nav-height: 120px;
        }
    }

    html,
    body {
        @apply bg-black text-white;
    }

    html {
        @apply antialiased font-sans scroll-pt-nav-extra;
        @apply selection:bg-white selection:text-black;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
    }

    body {
        @apply min-h-device flex flex-col;
    }


    svg {
        @apply block max-w-full;
    }

    label[for],
    button:not([disabled]) {
        @apply cursor-pointer;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {

    /* Navigation */
    .burger-menu-line {
        @apply absolute left-1/2;
        @apply w-full h-0.5 bg-white;
        @apply -translate-x-1/2;
        @apply transition-all duration-500;
        @apply will-change-transform;
    }

    .desktop-menu-link {
        @apply text-o1 uppercase;
        @apply transition-colors duration-300;
        @apply hover:text-blue-400;
    }

    .mobile-menu-link {}

    /* Buttons */
    .button {
        @apply border border-blue-400/20;
        @apply inline-flex items-center justify-center text-center;
        @apply py-3 px-4 rounded-[12px];
        @apply text-button;
        @apply transition-all duration-300;
    }

    .button--primary {
        @apply bg-white text-black;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.56);
    }

    .button--secondary {
        @apply bg-transparent text-white;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);

    }

    /* Inputs */
    .input {
        @apply rounded-[12px] outline-0 bg-transparent w-full border border-blue-400;
        @apply flex px-2.5 py-3.5;
        @apply text-white text-b2;
        @apply focus:border-white;
        @apply transition-colors duration-300;
    }

    .input--textarea {
        @apply min-h-50;
    }

    .input-with-error {
        @apply border-error focus:border-error;
    }

    .input-label {
        @apply absolute top-[13px] left-4;
        @apply text-white/70;
        @apply transition-all duration-300;
    }

    .input-label--error {
        @apply text-error;
    }

    .input-label--active {
        @apply opacity-0;
    }

    .input--checkbox {
        @apply relative w-full flex gap-4 items-center text-[14px];
    }

    .input--checkbox a {
        @apply underline hover:no-underline;
    }

    .fake-checkbox {
        @apply flex items-center justify-center rounded-[4px];
        @apply w-4 h-4 shrink-0 p-0 text-blue-400 border-white;
    }

    /* Accordion */
    .accordion {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    }

    .accordion.active {
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
    }
}